body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    color: #3D3D3D;
    background-color: rgba(0,0,0, 0.85);
  }
  
  h1 {
 
    color: crimson;
  }
  
  video {
    display: block;
  }
  
  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  .removed {
    display: none;
  }
  
  .invisible {
    opacity: 0.2;
    
  }
  button {
      height: 100px;
      width: 100px;
      border: none;
      background-color: crimson;
      font-size: 20px;
      color: darkgray;

  }
  .camView {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
  }
  
  .camView p {
    position: absolute;
    padding: 5px;
    background-color: crimson;
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 16px;
  }
  
  .highlighter {
    background: rgba(230, 173, 16, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
  }
  